/* General */
body {
    font-family: 'Roboto', sans-serif;
}

h2, h4 {
    color: #004d99; 
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: #004d99;
    border-color: #004d99;
}

.btn-primary:hover {
    background-color: #003d80;
    border-color: #003d80;
}

/* Sección de Inicio */
.inicio-bg {
    background-image: linear-gradient(to right top, #2807cd, #2239d9, #2d57e1, #4371e6, #5e89e8, #589cf0, #5baef5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.animated {
    animation-duration: 2s;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Sección Sobre Nosotros */
.sobre-nosotros-section {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.info-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card h4 {
    color: #333;
    margin-bottom: 15px;
}

.info-card p {
    color: #666;
}

.info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ajuste general */
.text-center {
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* Sección de Registro */
.registro-section {
    background-color: #e9ecef;
    padding: 60px 0;
}

.form-label {
    font-weight: bold;
}

/* Sección de Galería */
.gallery-section {
    background-color: #ffffff;
    padding: 60px 0;
}

.carousel-inner img {
    object-fit: cover;
    height: 400px;
}

/* Sección de Contacto */
.contacto-section {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.form-control {
    border-radius: 4px;
}

/* Sección de Información y Mapa */
.info-mapa-section {
    background-color: #004d99;
    color: white;
    padding: 60px 0;
}

#map-container {
    margin-top: 20px;
}
